@model CreArte.Models.EMPRESA

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>EMPRESA</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NOMBRE_LEGAL_EMPRESA)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NOMBRE_LEGAL_EMPRESA)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NOMBRE_COMERCIAL_EMPRESA)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NOMBRE_COMERCIAL_EMPRESA)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NIT_EMPRESA)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NIT_EMPRESA)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DIRECCION_EMPRESA)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DIRECCION_EMPRESA)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TELEFONO_EMPRESA)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TELEFONO_EMPRESA)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WHATSAPP_EMPRESA)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WHATSAPP_EMPRESA)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CORREO_EMPRESA)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CORREO_EMPRESA)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DESCRIPCION_EMPRESA)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DESCRIPCION_EMPRESA)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LOGO_EMPRESA)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LOGO_EMPRESA)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.USUARIO_CREACION)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.USUARIO_CREACION)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FECHA_CREACION)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FECHA_CREACION)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.USUARIO_MODIFICACION)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.USUARIO_MODIFICACION)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FECHA_MODIFICACION)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FECHA_MODIFICACION)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ELIMINADO)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ELIMINADO)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.USUARIO_ELIMINACION)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.USUARIO_ELIMINACION)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FECHA_ELIMINACION)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FECHA_ELIMINACION)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ESTADO)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ESTADO)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.EMPRESA_ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
</body>
</html>
