@model CreArte.Models.PUESTO

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>PUESTO</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PUESTO_NOMBRE)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PUESTO_NOMBRE)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PUESTO_DESCRIPCION)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PUESTO_DESCRIPCION)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.USUARIO_CREACION)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.USUARIO_CREACION)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FECHA_CREACION)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FECHA_CREACION)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.USUARIO_MODIFICACION)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.USUARIO_MODIFICACION)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FECHA_MODIFICACION)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FECHA_MODIFICACION)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ELIMINADO)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ELIMINADO)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.USUARIO_ELIMINACION)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.USUARIO_ELIMINACION)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FECHA_ELIMINACION)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FECHA_ELIMINACION)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ESTADO)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ESTADO)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AREA)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AREA.AREA_ID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NIVEL)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NIVEL.NIVEL_ID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.PUESTO_ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
</body>
</html>
